# Additional Secrets
VITE_TELEGRAM_BOT_TOKEN="8308910231:AAGAo1WdPrbqzsLDkqgd2rdA5g4SKRwx9z4"
VITE_TELEGRAM_CHAT_ID="7031772261"
# VITE_OTHER_API_KEY=""

# Supabase Configuration
VITE_SUPABASE_URL="https://huikxhnceywgofllfyle.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_E_5daNHCs9gW8owaBD5Ddw_n9_sI6x1"
