# Firebase Configuration
VITE_FIREBASE_API_KEY="your-api-key"
VITE_FIREBASE_AUTH_DOMAIN="your-app.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="your-project-id"
VITE_FIREBASE_STORAGE_BUCKET="your-app.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="your-messaging-sender-id"
VITE_FIREBASE_APP_ID="your-app-id"
VITE_FIREBASE_MEASUREMENT_ID="your-measurement-id"
VITE_FIREBASE_DATABASE_ID="your-database-id"

# Additional Secrets
VITE_TELEGRAM_BOT_TOKEN="8308910231:AAGAo1WdPrbqzsLDkqgd2rdA5g4SKRwx9z4"
VITE_TELEGRAM_CHAT_ID=""
# VITE_OTHER_API_KEY=""

# Supabase Configuration
VITE_SUPABASE_URL="https://huikxhnceywgofllfyle.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_E_5daNHCs9gW8owaBD5Ddw_n9_sI6x1"
